body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: serif;
    text-align: center;
}

.top-container{
    background-color: #FBF5DD;
    height: 600px;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    font-size: x-large;
    position: relative;
}



.image{
    position: absolute;
    top: 54%;
    transform: translate(-50%, -50%);
    height: 300px;
    opacity: 0.2;
 }

 .profile_pic{
    height: 200px;
    border-radius: 50%;
    padding-top: 100px;
 }

 .middle-container > *{
    font-size: 25px;
 }

 #skill{
    margin-top: 100px;
    color: #16404D;
    font-size: 30px;
 }
 
.types{
    display: grid
    ;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: repeat(1, 1fr);
        width: 50%;
        margin: 100px auto 0 auto;
        text-align: left;
        row-gap: 2rem;
}

.code > img{
    border-radius: 50%;
    height: 200px;
}
.cricket > img{
    border-radius: 50%;
    height: 200px;
}


.skills{
    margin-top: 40px;
    font-size: 20px;

}

.contact{
    margin-top: 250px;
}

.gaper{
    margin-bottom: 50px;
}

.butty{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #578E7E;
    color: white;
    border: 0;
    border-radius: 8px;
}

.last-container{
    background-color: #578E7E;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.links{
    width: 200px;
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: x-large;
    justify-content: space-evenly;
}

.info{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    font-size: large;
}